*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-image: url(../images/q4.jpg);
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	left: 0;

}
nav, #healines, #news, #editorial, #feature, footer { 
	/*padding: 30px;*/
	box-sizing: border-box;

}

main {
	background: lightgrey;
	margin-left: 200px;
	
}

/*vh is viewport height*/
#headlines {
	height: 100vh;
	color: #ffffff;
	max-width: 100vh;

}

.card-text {
	color: black;
	background-color: transparent;
}

/*edits to News*/
#news {
	background: #dfdd19;
	color: #ffffff;
	/*min-height: 300px;*/
	height: 100vh;
	width: 100%
	opacity: 0.25;
}

.container {
  position: relative;
  width: 100%;
  }


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.50);
  overflow: scroll;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.50);
  overflow: scroll;
}

.col-lg-6:hover .overlay1 {
  opacity: 1;
}

.col-lg-6:hover .overlay2 {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  text-align: justify;

}

.text >p {
	text-indent: 50px;
	font-size: 14px;
}

.card-body{

	min-height: 100px;
}
/*end of news*/

#editorial {
	height: 100vh;
	background: transparent;
	width: 100%;
}
.image {
	height: 100%;
}



.banner{
	text-align: justify;
	font-size: 40px;
	font-family: 'Notable', sans-serif;
	letter-spacing: 20px;
	color: white;
	/*max-width: 100%*/

}



ul > li {
	list-style: none;
	/*background: lightblue;*/
	margin-bottom: 2px;
	line-height: 48px;
	text-align: center;
	text-decoration: none;
}


.logo {
	width: 140px;
	height: 140px;
	background: darkgrey;
	margin: auto;
}

h2 {
	color: white;
}


.column {
	float: left;
	
		

}

.card-img-top {
	height: 200px;
}


#feature{
	background: #dfdd19;
}

.no-top-margin{
	margin: 0px;
}


/*.header {
	width: 100%;
}
*/


